div{
    width: 150px; /* or 11% */
    height: 150px;
    background-color: #eee;
    margin: 20px auto;
    border: 6px;
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow: auto; */

    /* overflow-y: hidden;
    overflow-y: scroll; */
    overflow-y: hidden;

    /* overflow-x: hidden;
    overflow-x: scroll; */
    /* overflow-x: hidden; */
}