.div1{
    background-color: #DDD;
    
    padding: 10px;
    margin: 10px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-width: 10px;
    border-color: red green blue pink;
    border-style: solid dotted dashed ridge;
    
}

.div2{
    background-color: #DDD;
    
    padding: 10px;
    
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid blue;
    border-radius: 100px;
    outline: 10px solid red;
}

.div3{
    background-color: #DDD;
    
    padding: 10px;
    
    width: 70%;
    margin: auto;
}

/* margin accept negative value while padding dont accept*/